.card
  .card-header
    = link_to course.titulo, course_path(course)
  .card-body
    = course.descricao

  .card-footer
    .text-center
      = enrollment_button(course)
      .row
      = review_button(course)
  .card-footer
    .row
      .col-md-6
        .text-warning.fa.fa-star
        %b= course.avaliacao_media
        /Enrollments count:
        /= course.enrollments.count
        /Counter cache enrollments count:
        (
        .fa.fa-user-graduate
        = course.enrollments.count
        )
        .fa.fa-tasks
        = course.lessons.count
      .col-md-6
        .text-right
          .fa.fa-chalkboard-teacher
          = link_to course.user.username, user_path(course.user)
    = link_to 'Detalhes', course, class: 'btn btn-sm btn-primary'
    - if policy(course).edit?
      = link_to 'Adicionar Lição', new_course_lesson_path(course, @lesson), class: 'btn btn-primary btn-sm'
      /- if policy(course).edit?
      = link_to 'Editar', edit_course_path(course), class: 'btn btn-sm btn-warning'
      /- if policy(course).destroy?
      = link_to 'Deletar', course, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-sm btn-danger'
%br
%br